In [1]:
import pandas as pd

In [2]:
#import 
df = pd.read_csv(r"D:\Documents\pandas\pandas_raw_data\student_admission_record_dirty.csv")
df.drop_duplicates()

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN
...,...,...,...,...,...,...,...
152,Ali,19.0,Female,85.0,78.09,Quetta,Accepted
153,Bilal,17.0,Female,81.0,84.40,Islamabad,Rejected
154,Fatima,21.0,Female,98.0,50.86,Multan,Accepted
155,Shoaib,-1.0,Male,91.0,80.12,Quetta,Accepted
156,Maaz,17.0,Male,88.0,86.85,Lahore,Accepted

In [3]:
remove_negative_ages =df[df['Age'] >= 16]
remove_negative_ages

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN
...,...,...,...,...,...,...,...
151,Asad,20.0,Female,95.0,52.40,Rawalpindi,Rejected
152,Ali,19.0,Female,85.0,78.09,Quetta,Accepted
153,Bilal,17.0,Female,81.0,84.40,Islamabad,Rejected
154,Fatima,21.0,Female,98.0,50.86,Multan,Accepted
156,Maaz,17.0,Male,88.0,86.85,Lahore,Accepted

In [4]:
#remove negative ages
df = remove_negative_ages
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN
...,...,...,...,...,...,...,...
151,Asad,20.0,Female,95.0,52.40,Rawalpindi,Rejected
152,Ali,19.0,Female,85.0,78.09,Quetta,Accepted
153,Bilal,17.0,Female,81.0,84.40,Islamabad,Rejected
154,Fatima,21.0,Female,98.0,50.86,Multan,Accepted
156,Maaz,17.0,Male,88.0,86.85,Lahore,Accepted

In [5]:
df[df['Admission Test Score'] > 30]
df = df[df['Admission Test Score'] > 30]
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
2,Bushra,17.0,Male,89.0,NaN,Islamabad,Accepted
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN
...,...,...,...,...,...,...,...
151,Asad,20.0,Female,95.0,52.40,Rawalpindi,Rejected
152,Ali,19.0,Female,85.0,78.09,Quetta,Accepted
153,Bilal,17.0,Female,81.0,84.40,Islamabad,Rejected
154,Fatima,21.0,Female,98.0,50.86,Multan,Accepted
156,Maaz,17.0,Male,88.0,86.85,Lahore,Accepted

In [6]:
#now remove High School Percentage	how got below 33%
below_55 = df[df['High School Percentage'] > 33]
df = df[df['High School Percentage'] > 33]
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN
7,Rabia,20.0,Female,82.0,55.67,Lahore,Accepted
...,...,...,...,...,...,...,...
151,Asad,20.0,Female,95.0,52.40,Rawalpindi,Rejected
152,Ali,19.0,Female,85.0,78.09,Quetta,Accepted
153,Bilal,17.0,Female,81.0,84.40,Islamabad,Rejected
154,Fatima,21.0,Female,98.0,50.86,Multan,Accepted
156,Maaz,17.0,Male,88.0,86.85,Lahore,Accepted

In [7]:
#remove whos studens marks is greater then 100
greater_then_100 = df[df['High School Percentage'] <= 100]
df = df[df['High School Percentage'] <= 100]
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Shehroz,24.0,Female,50.0,68.90,Quetta,Rejected
1,Waqar,21.0,Female,99.0,60.73,Karachi,NaN
3,Aliya,17.0,Male,55.0,85.29,Karachi,Rejected
4,Bilal,20.0,Male,65.0,61.13,Lahore,NaN
7,Rabia,20.0,Female,82.0,55.67,Lahore,Accepted
...,...,...,...,...,...,...,...
151,Asad,20.0,Female,95.0,52.40,Rawalpindi,Rejected
152,Ali,19.0,Female,85.0,78.09,Quetta,Accepted
153,Bilal,17.0,Female,81.0,84.40,Islamabad,Rejected
154,Fatima,21.0,Female,98.0,50.86,Multan,Accepted
156,Maaz,17.0,Male,88.0,86.85,Lahore,Accepted

In [8]:
#now select only accepted students
accepted  = df[df['Admission Status']=="Accepted"]

df = df[df['Admission Status']=="Accepted"]

In [9]:
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
7,Rabia,20.0,Female,82.0,55.67,Lahore,Accepted
13,Ahmed,21.0,Male,62.0,79.03,Karachi,Accepted
18,Maryam,19.0,Female,74.0,70.26,Lahore,Accepted
28,Bushra,17.0,Male,89.0,78.57,Islamabad,Accepted
35,Feroze,23.0,Female,51.0,92.36,NaN,Accepted
39,Aliya,23.0,Male,50.0,85.25,Rawalpindi,Accepted
42,Wajeeha,21.0,Male,63.0,74.83,Islamabad,Accepted
43,Waqar,21.0,Female,99.0,60.73,Karachi,Accepted
44,Maham,19.0,Female,52.0,78.67,Multan,Accepted
46,Mehwish,24.0,Female,84.0,94.33,Multan,Accepted
52,Ahmed,21.0,Male,62.0,79.03,Karachi,Accepted
55,Sara,19.0,Male,68.0,93.16,Multan,Accepted
56,Zara,18.0,Male,52.0,91.02,Multan,Accepted
57,Hafsa,23.0,Female,79.0,52.39,NaN,Accepted
58,Adeel,20.0,Female,70.0,93.36,Lahore,Accepted
60,Rohail,19.0,Female,54.0,52.79,Quetta,Accepted
61,Hamza,22.0,Male,99.0,86.58,Multan,Accepted
62,Fahad,23.0,Male,93.0,90.35,Peshawar,Accepted
63,Farhan,20.0,Female,75.0,79.59,Rawalpindi,Accepted
69,Tuba,17.0,Female,75.0,78.43,Peshawar,Accepted
70,Hafsa,17.0,Male,73.0,63.70,Rawalpindi,Accepted
73,Shafiq,18.0,NaN,80.0,81.30,Quetta,Accepted
77,Tuba,18.0,Female,89.0,71.30,Karachi,Accepted
78,Kashif,20.0,Female,91.0,91.03,Karachi,Accepted
80,Mehwish,18.0,Female,72.0,67.51,Quetta,Accepted
82,Muzammil,24.0,Female,97.0,62.68,Lahore,Accepted
86,Uzma,22.0,Male,69.0,83.99,Quetta,Accepted
90,Maryam,17.0,Male,78.0,77.40,Quetta,Accepted
92,NaN,20.0,Female,86.0,89.06,Karachi,Accepted
94,Farzana,22.0,Male,82.0,78.30,Multan,Accepted
99,Imran,19.0,Female,72.0,64.88,Multan,Accepted
101,Shehroz,24.0,Male,72.0,90.05,Karachi,Accepted
102,Asma,22.0,Female,81.0,68.86,Islamabad,Accepted
106,Mehwish,21.0,Female,91.0,57.33,Rawalpindi,Accepted
107,Zunaira,20.0,Female,98.0,54.59,Quetta,Accepted
109,Mehwish,18.0,Female,72.0,67.51,NaN,Accepted
110,Hamza,22.0,Male,99.0,86.58,Multan,Accepted
111,Adeel,24.0,Male,71.0,74.65,Lahore,Accepted
112,Tariq,17.0,Female,82.0,67.09,Peshawar,Accepted
114,Qasim,17.0,NaN,92.0,51.96,Lahore,Accepted
118,Lubna,22.0,Male,74.0,90.56,Rawalpindi,Accepted
119,Junaid,23.0,Female,94.0,61.93,Peshawar,Accepted
122,Tuba,17.0,Female,75.0,78.43,Peshawar,Accepted
127,Hassan,24.0,NaN,79.0,75.67,Karachi,Accepted
132,Maaz,20.0,Male,58.0,96.83,Peshawar,Accepted
138,Qasim,23.0,Female,83.0,66.51,Quetta,Accepted
140,Feroze,23.0,Female,51.0,92.36,Rawalpindi,Accepted
145,NaN,23.0,Female,93.0,98.71,Karachi,Accepted
147,Hammad,24.0,Female,71.0,83.84,Lahore,Accepted
148,NaN,24.0,Female,50.0,87.00,Peshawar,Accepted
149,NaN,21.0,NaN,86.0,95.38,Quetta,Accepted
152,Ali,19.0,Female,85.0,78.09,Quetta,Accepted
154,Fatima,21.0,Female,98.0,50.86,Multan,Accepted
156,Maaz,17.0,Male,88.0,86.85,Lahore,Accepted

In [10]:
#Now replace Male as M and Female as F
male_to_m = df['Gender'].replace('Male','M')
df['Gender'] = df['Gender'].replace('Male','M')
female_to_f = df['Gender'].replace('Female','F')
df['Gender'] = df['Gender'].replace('Female','F')
df

C:\Users\manoj\AppData\Local\Temp\ipykernel_20876\621524051.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].replace('Male','M')
C:\Users\manoj\AppData\Local\Temp\ipykernel_20876\621524051.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].replace('Female','F')

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
7,Rabia,20.0,F,82.0,55.67,Lahore,Accepted
13,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
18,Maryam,19.0,F,74.0,70.26,Lahore,Accepted
28,Bushra,17.0,M,89.0,78.57,Islamabad,Accepted
35,Feroze,23.0,F,51.0,92.36,NaN,Accepted
39,Aliya,23.0,M,50.0,85.25,Rawalpindi,Accepted
42,Wajeeha,21.0,M,63.0,74.83,Islamabad,Accepted
43,Waqar,21.0,F,99.0,60.73,Karachi,Accepted
44,Maham,19.0,F,52.0,78.67,Multan,Accepted
46,Mehwish,24.0,F,84.0,94.33,Multan,Accepted
52,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
55,Sara,19.0,M,68.0,93.16,Multan,Accepted
56,Zara,18.0,M,52.0,91.02,Multan,Accepted
57,Hafsa,23.0,F,79.0,52.39,NaN,Accepted
58,Adeel,20.0,F,70.0,93.36,Lahore,Accepted
60,Rohail,19.0,F,54.0,52.79,Quetta,Accepted
61,Hamza,22.0,M,99.0,86.58,Multan,Accepted
62,Fahad,23.0,M,93.0,90.35,Peshawar,Accepted
63,Farhan,20.0,F,75.0,79.59,Rawalpindi,Accepted
69,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
70,Hafsa,17.0,M,73.0,63.70,Rawalpindi,Accepted
73,Shafiq,18.0,NaN,80.0,81.30,Quetta,Accepted
77,Tuba,18.0,F,89.0,71.30,Karachi,Accepted
78,Kashif,20.0,F,91.0,91.03,Karachi,Accepted
80,Mehwish,18.0,F,72.0,67.51,Quetta,Accepted
82,Muzammil,24.0,F,97.0,62.68,Lahore,Accepted
86,Uzma,22.0,M,69.0,83.99,Quetta,Accepted
90,Maryam,17.0,M,78.0,77.40,Quetta,Accepted
92,NaN,20.0,F,86.0,89.06,Karachi,Accepted
94,Farzana,22.0,M,82.0,78.30,Multan,Accepted
99,Imran,19.0,F,72.0,64.88,Multan,Accepted
101,Shehroz,24.0,M,72.0,90.05,Karachi,Accepted
102,Asma,22.0,F,81.0,68.86,Islamabad,Accepted
106,Mehwish,21.0,F,91.0,57.33,Rawalpindi,Accepted
107,Zunaira,20.0,F,98.0,54.59,Quetta,Accepted
109,Mehwish,18.0,F,72.0,67.51,NaN,Accepted
110,Hamza,22.0,M,99.0,86.58,Multan,Accepted
111,Adeel,24.0,M,71.0,74.65,Lahore,Accepted
112,Tariq,17.0,F,82.0,67.09,Peshawar,Accepted
114,Qasim,17.0,NaN,92.0,51.96,Lahore,Accepted
118,Lubna,22.0,M,74.0,90.56,Rawalpindi,Accepted
119,Junaid,23.0,F,94.0,61.93,Peshawar,Accepted
122,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
127,Hassan,24.0,NaN,79.0,75.67,Karachi,Accepted
132,Maaz,20.0,M,58.0,96.83,Peshawar,Accepted
138,Qasim,23.0,F,83.0,66.51,Quetta,Accepted
140,Feroze,23.0,F,51.0,92.36,Rawalpindi,Accepted
145,NaN,23.0,F,93.0,98.71,Karachi,Accepted
147,Hammad,24.0,F,71.0,83.84,Lahore,Accepted
148,NaN,24.0,F,50.0,87.00,Peshawar,Accepted
149,NaN,21.0,NaN,86.0,95.38,Quetta,Accepted
152,Ali,19.0,F,85.0,78.09,Quetta,Accepted
154,Fatima,21.0,F,98.0,50.86,Multan,Accepted
156,Maaz,17.0,M,88.0,86.85,Lahore,Accepted

In [11]:
#now remove Nan values
remove = df.dropna()
df = df.dropna()

In [12]:
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
7,Rabia,20.0,F,82.0,55.67,Lahore,Accepted
13,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
18,Maryam,19.0,F,74.0,70.26,Lahore,Accepted
28,Bushra,17.0,M,89.0,78.57,Islamabad,Accepted
39,Aliya,23.0,M,50.0,85.25,Rawalpindi,Accepted
42,Wajeeha,21.0,M,63.0,74.83,Islamabad,Accepted
43,Waqar,21.0,F,99.0,60.73,Karachi,Accepted
44,Maham,19.0,F,52.0,78.67,Multan,Accepted
46,Mehwish,24.0,F,84.0,94.33,Multan,Accepted
52,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
55,Sara,19.0,M,68.0,93.16,Multan,Accepted
56,Zara,18.0,M,52.0,91.02,Multan,Accepted
58,Adeel,20.0,F,70.0,93.36,Lahore,Accepted
60,Rohail,19.0,F,54.0,52.79,Quetta,Accepted
61,Hamza,22.0,M,99.0,86.58,Multan,Accepted
62,Fahad,23.0,M,93.0,90.35,Peshawar,Accepted
63,Farhan,20.0,F,75.0,79.59,Rawalpindi,Accepted
69,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
70,Hafsa,17.0,M,73.0,63.70,Rawalpindi,Accepted
77,Tuba,18.0,F,89.0,71.30,Karachi,Accepted
78,Kashif,20.0,F,91.0,91.03,Karachi,Accepted
80,Mehwish,18.0,F,72.0,67.51,Quetta,Accepted
82,Muzammil,24.0,F,97.0,62.68,Lahore,Accepted
86,Uzma,22.0,M,69.0,83.99,Quetta,Accepted
90,Maryam,17.0,M,78.0,77.40,Quetta,Accepted
94,Farzana,22.0,M,82.0,78.30,Multan,Accepted
99,Imran,19.0,F,72.0,64.88,Multan,Accepted
101,Shehroz,24.0,M,72.0,90.05,Karachi,Accepted
102,Asma,22.0,F,81.0,68.86,Islamabad,Accepted
106,Mehwish,21.0,F,91.0,57.33,Rawalpindi,Accepted
107,Zunaira,20.0,F,98.0,54.59,Quetta,Accepted
110,Hamza,22.0,M,99.0,86.58,Multan,Accepted
111,Adeel,24.0,M,71.0,74.65,Lahore,Accepted
112,Tariq,17.0,F,82.0,67.09,Peshawar,Accepted
118,Lubna,22.0,M,74.0,90.56,Rawalpindi,Accepted
119,Junaid,23.0,F,94.0,61.93,Peshawar,Accepted
122,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
132,Maaz,20.0,M,58.0,96.83,Peshawar,Accepted
138,Qasim,23.0,F,83.0,66.51,Quetta,Accepted
140,Feroze,23.0,F,51.0,92.36,Rawalpindi,Accepted
147,Hammad,24.0,F,71.0,83.84,Lahore,Accepted
152,Ali,19.0,F,85.0,78.09,Quetta,Accepted
154,Fatima,21.0,F,98.0,50.86,Multan,Accepted
156,Maaz,17.0,M,88.0,86.85,Lahore,Accepted

In [13]:
#set index
df = df.reset_index()

In [14]:
df

,index,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,7,Rabia,20.0,F,82.0,55.67,Lahore,Accepted
1,13,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
2,18,Maryam,19.0,F,74.0,70.26,Lahore,Accepted
3,28,Bushra,17.0,M,89.0,78.57,Islamabad,Accepted
4,39,Aliya,23.0,M,50.0,85.25,Rawalpindi,Accepted
5,42,Wajeeha,21.0,M,63.0,74.83,Islamabad,Accepted
6,43,Waqar,21.0,F,99.0,60.73,Karachi,Accepted
7,44,Maham,19.0,F,52.0,78.67,Multan,Accepted
8,46,Mehwish,24.0,F,84.0,94.33,Multan,Accepted
9,52,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
10,55,Sara,19.0,M,68.0,93.16,Multan,Accepted
11,56,Zara,18.0,M,52.0,91.02,Multan,Accepted
12,58,Adeel,20.0,F,70.0,93.36,Lahore,Accepted
13,60,Rohail,19.0,F,54.0,52.79,Quetta,Accepted
14,61,Hamza,22.0,M,99.0,86.58,Multan,Accepted
15,62,Fahad,23.0,M,93.0,90.35,Peshawar,Accepted
16,63,Farhan,20.0,F,75.0,79.59,Rawalpindi,Accepted
17,69,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
18,70,Hafsa,17.0,M,73.0,63.70,Rawalpindi,Accepted
19,77,Tuba,18.0,F,89.0,71.30,Karachi,Accepted
20,78,Kashif,20.0,F,91.0,91.03,Karachi,Accepted
21,80,Mehwish,18.0,F,72.0,67.51,Quetta,Accepted
22,82,Muzammil,24.0,F,97.0,62.68,Lahore,Accepted
23,86,Uzma,22.0,M,69.0,83.99,Quetta,Accepted
24,90,Maryam,17.0,M,78.0,77.40,Quetta,Accepted
25,94,Farzana,22.0,M,82.0,78.30,Multan,Accepted
26,99,Imran,19.0,F,72.0,64.88,Multan,Accepted
27,101,Shehroz,24.0,M,72.0,90.05,Karachi,Accepted
28,102,Asma,22.0,F,81.0,68.86,Islamabad,Accepted
29,106,Mehwish,21.0,F,91.0,57.33,Rawalpindi,Accepted
30,107,Zunaira,20.0,F,98.0,54.59,Quetta,Accepted
31,110,Hamza,22.0,M,99.0,86.58,Multan,Accepted
32,111,Adeel,24.0,M,71.0,74.65,Lahore,Accepted
33,112,Tariq,17.0,F,82.0,67.09,Peshawar,Accepted
34,118,Lubna,22.0,M,74.0,90.56,Rawalpindi,Accepted
35,119,Junaid,23.0,F,94.0,61.93,Peshawar,Accepted
36,122,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
37,132,Maaz,20.0,M,58.0,96.83,Peshawar,Accepted
38,138,Qasim,23.0,F,83.0,66.51,Quetta,Accepted
39,140,Feroze,23.0,F,51.0,92.36,Rawalpindi,Accepted
40,147,Hammad,24.0,F,71.0,83.84,Lahore,Accepted
41,152,Ali,19.0,F,85.0,78.09,Quetta,Accepted
42,154,Fatima,21.0,F,98.0,50.86,Multan,Accepted
43,156,Maaz,17.0,M,88.0,86.85,Lahore,Accepted

In [15]:
#remove old index
df.drop(columns='index', inplace=True)

In [16]:
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Rabia,20.0,F,82.0,55.67,Lahore,Accepted
1,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
2,Maryam,19.0,F,74.0,70.26,Lahore,Accepted
3,Bushra,17.0,M,89.0,78.57,Islamabad,Accepted
4,Aliya,23.0,M,50.0,85.25,Rawalpindi,Accepted
5,Wajeeha,21.0,M,63.0,74.83,Islamabad,Accepted
6,Waqar,21.0,F,99.0,60.73,Karachi,Accepted
7,Maham,19.0,F,52.0,78.67,Multan,Accepted
8,Mehwish,24.0,F,84.0,94.33,Multan,Accepted
9,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
10,Sara,19.0,M,68.0,93.16,Multan,Accepted
11,Zara,18.0,M,52.0,91.02,Multan,Accepted
12,Adeel,20.0,F,70.0,93.36,Lahore,Accepted
13,Rohail,19.0,F,54.0,52.79,Quetta,Accepted
14,Hamza,22.0,M,99.0,86.58,Multan,Accepted
15,Fahad,23.0,M,93.0,90.35,Peshawar,Accepted
16,Farhan,20.0,F,75.0,79.59,Rawalpindi,Accepted
17,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
18,Hafsa,17.0,M,73.0,63.70,Rawalpindi,Accepted
19,Tuba,18.0,F,89.0,71.30,Karachi,Accepted
20,Kashif,20.0,F,91.0,91.03,Karachi,Accepted
21,Mehwish,18.0,F,72.0,67.51,Quetta,Accepted
22,Muzammil,24.0,F,97.0,62.68,Lahore,Accepted
23,Uzma,22.0,M,69.0,83.99,Quetta,Accepted
24,Maryam,17.0,M,78.0,77.40,Quetta,Accepted
25,Farzana,22.0,M,82.0,78.30,Multan,Accepted
26,Imran,19.0,F,72.0,64.88,Multan,Accepted
27,Shehroz,24.0,M,72.0,90.05,Karachi,Accepted
28,Asma,22.0,F,81.0,68.86,Islamabad,Accepted
29,Mehwish,21.0,F,91.0,57.33,Rawalpindi,Accepted
30,Zunaira,20.0,F,98.0,54.59,Quetta,Accepted
31,Hamza,22.0,M,99.0,86.58,Multan,Accepted
32,Adeel,24.0,M,71.0,74.65,Lahore,Accepted
33,Tariq,17.0,F,82.0,67.09,Peshawar,Accepted
34,Lubna,22.0,M,74.0,90.56,Rawalpindi,Accepted
35,Junaid,23.0,F,94.0,61.93,Peshawar,Accepted
36,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
37,Maaz,20.0,M,58.0,96.83,Peshawar,Accepted
38,Qasim,23.0,F,83.0,66.51,Quetta,Accepted
39,Feroze,23.0,F,51.0,92.36,Rawalpindi,Accepted
40,Hammad,24.0,F,71.0,83.84,Lahore,Accepted
41,Ali,19.0,F,85.0,78.09,Quetta,Accepted
42,Fatima,21.0,F,98.0,50.86,Multan,Accepted
43,Maaz,17.0,M,88.0,86.85,Lahore,Accepted

In [17]:
df.isnull().sum()

Name                      0
Age                       0
Gender                    0
Admission Test Score      0
High School Percentage    0
City                      0
Admission Status          0
dtype: int64

In [20]:
#final
df

,Name,Age,Gender,Admission Test Score,High School Percentage,City,Admission Status
0,Rabia,20.0,F,82.0,55.67,Lahore,Accepted
1,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
2,Maryam,19.0,F,74.0,70.26,Lahore,Accepted
3,Bushra,17.0,M,89.0,78.57,Islamabad,Accepted
4,Aliya,23.0,M,50.0,85.25,Rawalpindi,Accepted
5,Wajeeha,21.0,M,63.0,74.83,Islamabad,Accepted
6,Waqar,21.0,F,99.0,60.73,Karachi,Accepted
7,Maham,19.0,F,52.0,78.67,Multan,Accepted
8,Mehwish,24.0,F,84.0,94.33,Multan,Accepted
9,Ahmed,21.0,M,62.0,79.03,Karachi,Accepted
10,Sara,19.0,M,68.0,93.16,Multan,Accepted
11,Zara,18.0,M,52.0,91.02,Multan,Accepted
12,Adeel,20.0,F,70.0,93.36,Lahore,Accepted
13,Rohail,19.0,F,54.0,52.79,Quetta,Accepted
14,Hamza,22.0,M,99.0,86.58,Multan,Accepted
15,Fahad,23.0,M,93.0,90.35,Peshawar,Accepted
16,Farhan,20.0,F,75.0,79.59,Rawalpindi,Accepted
17,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
18,Hafsa,17.0,M,73.0,63.70,Rawalpindi,Accepted
19,Tuba,18.0,F,89.0,71.30,Karachi,Accepted
20,Kashif,20.0,F,91.0,91.03,Karachi,Accepted
21,Mehwish,18.0,F,72.0,67.51,Quetta,Accepted
22,Muzammil,24.0,F,97.0,62.68,Lahore,Accepted
23,Uzma,22.0,M,69.0,83.99,Quetta,Accepted
24,Maryam,17.0,M,78.0,77.40,Quetta,Accepted
25,Farzana,22.0,M,82.0,78.30,Multan,Accepted
26,Imran,19.0,F,72.0,64.88,Multan,Accepted
27,Shehroz,24.0,M,72.0,90.05,Karachi,Accepted
28,Asma,22.0,F,81.0,68.86,Islamabad,Accepted
29,Mehwish,21.0,F,91.0,57.33,Rawalpindi,Accepted
30,Zunaira,20.0,F,98.0,54.59,Quetta,Accepted
31,Hamza,22.0,M,99.0,86.58,Multan,Accepted
32,Adeel,24.0,M,71.0,74.65,Lahore,Accepted
33,Tariq,17.0,F,82.0,67.09,Peshawar,Accepted
34,Lubna,22.0,M,74.0,90.56,Rawalpindi,Accepted
35,Junaid,23.0,F,94.0,61.93,Peshawar,Accepted
36,Tuba,17.0,F,75.0,78.43,Peshawar,Accepted
37,Maaz,20.0,M,58.0,96.83,Peshawar,Accepted
38,Qasim,23.0,F,83.0,66.51,Quetta,Accepted
39,Feroze,23.0,F,51.0,92.36,Rawalpindi,Accepted
40,Hammad,24.0,F,71.0,83.84,Lahore,Accepted
41,Ali,19.0,F,85.0,78.09,Quetta,Accepted
42,Fatima,21.0,F,98.0,50.86,Multan,Accepted
43,Maaz,17.0,M,88.0,86.85,Lahore,Accepted

In [19]:
#saving file type as csv
df.to_csv("student_admission_records_cleaned.csv", index=False)